### Install dependencies

In [1]:
!pip install shapely

Collecting shapely
  Using cached shapely-2.0.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Requirement already satisfied: numpy<3,>=1.14 in /opt/conda/lib/python3.11/site-packages (from shapely) (1.26.4)
Using cached shapely-2.0.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
Installing collected packages: shapely
Successfully installed shapely-2.0.7

In [2]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
                    .appName('project1')
                    .enableHiveSupport()
                    .getOrCreate()
        )

## Load the data

In [3]:
# Real taxi data
taxi_df = (
    spark.read
         .option("header", "true")
         .option("inferSchema", "true")
         .csv("input/trip_data/*.csv")
)

display(taxi_df)

boroughs_df = (spark.read.option("inferSchema", True).option("multiline", True).json("input/nyc-boroughs.geojson"))
display(boroughs_df)

DataFrame[medallion: string, hack_license: string, vendor_id: string, rate_code: string, store_and_fwd_flag: string, pickup_datetime: string, dropoff_datetime: string, passenger_count: string, trip_time_in_secs: string, trip_distance: string, pickup_longitude: string, pickup_latitude: string, dropoff_longitude: string, dropoff_latitude: string]

DataFrame[features: array<struct<geometry:struct<coordinates:array<array<array<double>>>,type:string>,id:bigint,properties:struct<@id:string,borough:string,boroughCode:bigint>,type:string>>, type: string]

## Enriching dataset with borough names

In [4]:
from shapely.geometry import Polygon
from pyspark.sql.functions import explode, col, udf

# udfs for shapely polygon creation and area calculation
def create_polygon(coordinates):
    return Polygon(coordinates[0]).wkt # wkt format can be deserialzed

def calculate_area(coordinates):
    return Polygon(coordinates[0]).area
    
create_polygon_udf = udf(create_polygon)
calculate_area_udf = udf(calculate_area)

In [5]:
from pyspark.sql.types import DoubleType

# explode the features array
boroughs_features_df = boroughs_df.select(explode(col("features")).alias("feature"))

boroughs_features_df.head()

# dataframe enriched with polygon and area
borough_geo_df = (
    boroughs_features_df.select(
        col("feature.properties.borough").alias("borough"),
        col("feature.properties.boroughCode").alias("boroughCode"),
        col("feature.geometry.coordinates").alias("coordinates")
    )
    .withColumn("polygon", create_polygon_udf(col("coordinates")))
    .withColumn("area", calculate_area_udf(col("coordinates")))
)

# cast area to double
borough_geo_df = borough_geo_df.withColumn("area", col("area").cast(DoubleType()))

In [6]:
from pyspark.sql.functions import desc, asc
from shapely.wkt import dumps

# sort the dataframe by boroughCode and area
boroughs_sorted = borough_geo_df.orderBy("boroughCode", desc("area"))
boroughs_sorted.select("borough", "area").show(20, truncate=False)

# broadcast the sorted boroughs dataframe
borough_bd = spark.sparkContext.broadcast(boroughs_sorted.collect())

+---------+---------------------+
|borough  |area                 |
+---------+---------------------+
|Manhattan|0.005859077996035753 |
|Manhattan|2.3271655856762013E-4|
|Manhattan|7.6037752599342E-5   |
|Manhattan|6.23157479510608E-5  |
|Manhattan|3.2658591272044954E-5|
|Manhattan|1.1828883137677094E-5|
|Manhattan|6.143638903459381E-6 |
|Manhattan|3.3831273674444417E-6|
|Manhattan|2.858823502476497E-6 |
|Manhattan|2.393654308790746E-6 |
|Manhattan|2.3345540772235924E-6|
|Manhattan|2.2627340976761147E-6|
|Manhattan|2.2465297475388565E-6|
|Manhattan|2.24116737819868E-6  |
|Manhattan|2.2094455927089308E-6|
|Manhattan|2.0486362960502745E-6|
|Manhattan|1.3300494774255711E-6|
|Manhattan|1.1111770551654054E-6|
|Manhattan|2.354033827718773E-7 |
|Manhattan|2.0929022926724522E-7|
+---------+---------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.types import StringType
from shapely.geometry import Point
from shapely.wkt import loads

# udf for getting borough
def get_borough(lat, long):
    point = Point(long, lat)
    for row in borough_bd.value:
        if loads(row["polygon"]).contains(point):
            return row["borough"]
    return "unknown"

get_borough_udf = udf(get_borough)

In [8]:
taxi_df = taxi_df.withColumn("pickup_borough", get_borough_udf(col("pickup_latitude"), col("pickup_longitude")))
taxi_df = taxi_df.withColumn("dropoff_borough", get_borough_udf(col("dropoff_latitude"), col("dropoff_longitude")))

# taxi_df.show()
taxi_df.select("pickup_borough", "dropoff_borough", "medallion", "pickup_datetime", "dropoff_datetime").show(20)

+--------------+---------------+--------------------+-------------------+-------------------+
|pickup_borough|dropoff_borough|           medallion|    pickup_datetime|   dropoff_datetime|
+--------------+---------------+--------------------+-------------------+-------------------+
|     Manhattan|      Manhattan|89D227B655E5C82AE...|2013-01-01 15:11:48|2013-01-01 15:18:10|
|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|2013-01-06 00:18:35|2013-01-06 00:22:54|
|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|2013-01-05 18:49:41|2013-01-05 18:54:23|
|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|2013-01-07 23:54:15|2013-01-07 23:58:20|
|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|2013-01-07 23:25:03|2013-01-07 23:34:24|
|     Manhattan|      Manhattan|20D9ECB2CA0767CF7...|2013-01-07 15:27:48|2013-01-07 15:38:37|
|     Manhattan|      Manhattan|496644932DF393260...|2013-01-08 11:01:15|2013-01-08 11:08:14|
|     Manhattan|         Queens|0B57B9633A2FECD3D...|2013-01-07 12:39:18|2013-01-07 13:10:56|
|     Manhattan|      Manhattan|2C0E91FF20A856C89...|2013-01-07 18:15:47|2013-01-07 18:20:47|
|     Manhattan|      Manhattan|2D4B95E2FA7B2E851...|2013-01-07 15:33:28|2013-01-07 15:49:26|
|     Manhattan|      Manhattan|E12F6AF991172EAC3...|2013-01-08 13:11:52|2013-01-08 13:19:50|
|     Manhattan|      Manhattan|E12F6AF991172EAC3...|2013-01-08 09:50:05|2013-01-08 10:02:54|
|     Manhattan|      Manhattan|78FFD9CD0CDA541F3...|2013-01-10 12:07:08|2013-01-10 12:17:29|
|     Manhattan|      Manhattan|237F49C3ECC11F502...|2013-01-07 07:35:47|2013-01-07 07:46:00|
|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|2013-01-10 15:42:29|2013-01-10 16:04:02|
|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|2013-01-10 14:27:28|2013-01-10 14:45:21|
|     Manhattan|      Manhattan|4C005EEBAA7BF26B8...|2013-01-07 22:09:59|2013-01-07 22:19:50|
|     Manhattan|      Manhattan|7D99C30FCE69B1A9D...|2013-01-07 17:18:16|2013-01-07 17:20:55|
|     Manhattan|      Manhattan|E6FBF80668FE0611A...|2013-01-07 06:08:51|2013-01-07 06:13:14|
|     Manhattan|      Manhattan|0C5296F3C8B16E702...|2013-01-07 22:25:46|2013-01-07 22:36:56|
+--------------+---------------+--------------------+-------------------+-------------------+
only showing top 20 rows

## Data cleansing

In [9]:
from pyspark.sql.functions import unix_timestamp
# add columns for pickup and dropoff times in unix timestamps 

time_format = "yyyy-MM-dd HH:mm:ss"

taxi_df = (taxi_df
           .withColumn("pickup_timestamp", unix_timestamp(col("pickup_datetime"), time_format))
           .withColumn("dropoff_timestamp", unix_timestamp(col("dropoff_datetime"), time_format))
           .withColumn("duration", col("dropoff_timestamp") - col("pickup_timestamp"))
          )

taxi_df.select("pickup_timestamp", "dropoff_timestamp", "pickup_datetime", "dropoff_datetime", "duration", "pickup_borough", "dropoff_borough", "medallion").show(20)

+----------------+-----------------+-------------------+-------------------+--------+--------------+---------------+--------------------+
|pickup_timestamp|dropoff_timestamp|    pickup_datetime|   dropoff_datetime|duration|pickup_borough|dropoff_borough|           medallion|
+----------------+-----------------+-------------------+-------------------+--------+--------------+---------------+--------------------+
|      1357053108|       1357053490|2013-01-01 15:11:48|2013-01-01 15:18:10|     382|     Manhattan|      Manhattan|89D227B655E5C82AE...|
|      1357431515|       1357431774|2013-01-06 00:18:35|2013-01-06 00:22:54|     259|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|
|      1357411781|       1357412063|2013-01-05 18:49:41|2013-01-05 18:54:23|     282|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|
|      1357602855|       1357603100|2013-01-07 23:54:15|2013-01-07 23:58:20|     245|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|
|      1357601103|       1357601664|2013-01-07 23:25:03|2013-01-07 23:34:24|     561|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|
|      1357572468|       1357573117|2013-01-07 15:27:48|2013-01-07 15:38:37|     649|     Manhattan|      Manhattan|20D9ECB2CA0767CF7...|
|      1357642875|       1357643294|2013-01-08 11:01:15|2013-01-08 11:08:14|     419|     Manhattan|      Manhattan|496644932DF393260...|
|      1357562358|       1357564256|2013-01-07 12:39:18|2013-01-07 13:10:56|    1898|     Manhattan|         Queens|0B57B9633A2FECD3D...|
|      1357582547|       1357582847|2013-01-07 18:15:47|2013-01-07 18:20:47|     300|     Manhattan|      Manhattan|2C0E91FF20A856C89...|
|      1357572808|       1357573766|2013-01-07 15:33:28|2013-01-07 15:49:26|     958|     Manhattan|      Manhattan|2D4B95E2FA7B2E851...|
|      1357650712|       1357651190|2013-01-08 13:11:52|2013-01-08 13:19:50|     478|     Manhattan|      Manhattan|E12F6AF991172EAC3...|
|      1357638605|       1357639374|2013-01-08 09:50:05|2013-01-08 10:02:54|     769|     Manhattan|      Manhattan|E12F6AF991172EAC3...|
|      1357819628|       1357820249|2013-01-10 12:07:08|2013-01-10 12:17:29|     621|     Manhattan|      Manhattan|78FFD9CD0CDA541F3...|
|      1357544147|       1357544760|2013-01-07 07:35:47|2013-01-07 07:46:00|     613|     Manhattan|      Manhattan|237F49C3ECC11F502...|
|      1357832549|       1357833842|2013-01-10 15:42:29|2013-01-10 16:04:02|    1293|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|
|      1357828048|       1357829121|2013-01-10 14:27:28|2013-01-10 14:45:21|    1073|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|
|      1357596599|       1357597190|2013-01-07 22:09:59|2013-01-07 22:19:50|     591|     Manhattan|      Manhattan|4C005EEBAA7BF26B8...|
|      1357579096|       1357579255|2013-01-07 17:18:16|2013-01-07 17:20:55|     159|     Manhattan|      Manhattan|7D99C30FCE69B1A9D...|
|      1357538931|       1357539194|2013-01-07 06:08:51|2013-01-07 06:13:14|     263|     Manhattan|      Manhattan|E6FBF80668FE0611A...|
|      1357597546|       1357598216|2013-01-07 22:25:46|2013-01-07 22:36:56|     670|     Manhattan|      Manhattan|0C5296F3C8B16E702...|
+----------------+-----------------+-------------------+-------------------+--------+--------------+---------------+--------------------+
only showing top 20 rows

In [ ]:
# filter out the trips with invalid duration
print(taxi_df.count())

max_trip_duration = 4 * 60 * 60 # 4 hours

filtered_taxi_df = taxi_df.filter((col("duration") > 0) & (col("duration") <= max_trip_duration))
print(filtered_taxi_df.count())

## Utilization Query

In [12]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, sum as _sum, when

# partition data by medallion
window_spec = Window.partitionBy("medallion").orderBy("pickup_timestamp")

# add previous dropoff time as column
taxi_df = taxi_df.withColumn("prev_dropoff_timestamp", lag("dropoff_timestamp").over(window_spec))

# add idle time column
taxi_df = taxi_df.withColumn("idle_time", col("pickup_timestamp") - col("prev_dropoff_timestamp"))

session_threshold = 4 * 60 * 60
# if idle time is more than 4 hours, count consider it's a new session
taxi_df = taxi_df.withColumn(
    "idle_time",
    when(col("idle_time") <= session_threshold, col("idle_time")).otherwise(0)
)

# group by taxi ID and get the total idle time
utilization_df = (
    taxi_df
    .groupBy("medallion")
    .agg(_sum("duration").alias("busy_time_sum"),
         _sum("idle_time").alias("idle_time_sum")
    )
)

utilization_df = utilization_df.withColumn(
    "utilization_rate",
    col("busy_time_sum") / (col("busy_time_sum") + col("idle_time_sum"))
)

utilization_df.show(50)

+--------------------+-------------+-------------+-------------------+
|           medallion|busy_time_sum|idle_time_sum|   utilization_rate|
+--------------------+-------------+-------------+-------------------+
|000318C2E3E638158...|        13920|        17400| 0.4444444444444444|
|002E3B405B6ABEA23...|        10260|        16140| 0.3886363636363636|
|0030AD2648D81EE87...|         1980|          720| 0.7333333333333333|
|0036961468659D0BF...|        11700|        19740|0.37213740458015265|
|0038EF45118925A51...|        10920|        15120|0.41935483870967744|
|0053334C798EC6C8E...|         7920|        22440| 0.2608695652173913|
|005DED7D6E6C45441...|        11460|        11760| 0.4935400516795866|
|005F00B38F46E2100...|        18600|        42180| 0.3060217176702863|
|00790C7BAD30B7A9E...|        12360|        25320|0.32802547770700635|
|0094A03FFE6BAFBE0...|        10680|         5400|  0.664179104477612|
|009D3CCA83486B03F...|        19620|        40920| 0.3240832507433102|
|009E68CADCB1BCF73...|          780|            0|                1.0|
|00BD5D1AD3A96C997...|        10200|        12540|0.44854881266490765|
|00E0904FC59DA2C36...|          780|            0|                1.0|
|00FB3D49C3DE5E002...|        15000|        14580| 0.5070993914807302|
|012B65864B3BE97D6...|         6660|         6360|  0.511520737327189|
|012F172C0351A4767...|        16200|        40680| 0.2848101265822785|
|01389E9CF7758ECAC...|         2880|         5460|0.34532374100719426|
|019AFB33C3153481B...|         7500|         9840|0.43252595155709345|
|01BD10395EF30144C...|         4320|         5940|0.42105263157894735|
|01C905F5CF4CD4D36...|         9420|         8340| 0.5304054054054054|
|01D13A056D9A26F84...|         7740|        15480| 0.3333333333333333|
|01D8C877762B42B4F...|        19500|        18540| 0.5126182965299685|
|01DDF05F9C01F581E...|        10680|        16860| 0.3877995642701525|
|01F9F5C3B207C3D05...|        11220|        24060|0.31802721088435376|
|02063AF23344CEA45...|         4680|         6780| 0.4083769633507853|
|02563784A67816C40...|         8100|         5460| 0.5973451327433629|
|025CAAC6524CD33D7...|        11400|        13500| 0.4578313253012048|
|026C93D85C6DFD560...|        12960|         9420|  0.579088471849866|
|0278B837D850DB620...|        10560|        38400|0.21568627450980393|
|02861094C5C334E36...|        13620|        17640|0.43570057581573896|
|02928AFF13D7E2BEA...|         3900|         2520| 0.6074766355140186|
|0293108C734F9B1C3...|         9780|        14520| 0.4024691358024691|
|02A2214E583CDF23A...|         1980|         3900|  0.336734693877551|
|02B196981B24858BC...|         7260|         7140| 0.5041666666666667|
|02B5097C51EBA1043...|        11160|        20640|0.35094339622641507|
|02BFD1B64C2C80B43...|          480|            0|                1.0|
|02C49A409C2DC66B1...|         5520|        10260|0.34980988593155893|
|02D57565703BFABEC...|         9060|        10200|  0.470404984423676|
|02E517E0C95841629...|        16020|         8640| 0.6496350364963503|
|02E5A4136FD0A775A...|          480|            0|                1.0|
|02EBF943439BE7166...|        10620|         8340|  0.560126582278481|
|02F32A52C7BA74873...|        10140|        11100| 0.4774011299435028|
|03055B956C21B1F91...|        14520|        18360| 0.4416058394160584|
|0321A1CAE98C6F5BA...|        10320|         9060| 0.5325077399380805|
|03440BEC1C3E0DA65...|         9120|        28140|0.24476650563607086|
|03669FD5D1F17360C...|        14040|        22740| 0.3817292006525285|
|037CB433AB5895649...|        10980|        21000| 0.3433395872420263|
|038E76DC061A40AE0...|        18660|        28080| 0.3992297817715019|
|0398E30B94A30D36B...|        12240|        30540| 0.2861150070126227|
+--------------------+-------------+-------------+-------------------+
only showing top 50 rows

## Average time for taxi to find next fare per destination borough

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lead, avg

# window specification for each taxi, ordered by dropoff time
window_spec = Window.partitionBy("medallion").orderBy("dropoff_timestamp")

# get the pickup time of the next trip for the same taxi
taxi_df = taxi_df.withColumn("next_pickup_timestamp", lead("pickup_timestamp").over(window_spec))

# compute idle time between trips
taxi_df = taxi_df.withColumn("time_to_next_fare", col("next_pickup_timestamp") - col("dropoff_timestamp"))

# compute the average idle time per drop-off borough
avg_time_per_borough = (
    taxi_df.groupBy("dropoff_borough")
    .agg(avg("time_to_next_fare").alias("avg_time_to_next_fare"))
)

# results, we left records with unknown pick up/drop off borough (means ride was from outside of NYC or from NYC to outside city)
avg_time_per_borough.show(truncate=False)

+---------------+---------------------+
|dropoff_borough|avg_time_to_next_fare|
+---------------+---------------------+
|Queens         |6368.423432682425    |
|unknown        |12206.935332708528   |
|Brooklyn       |6554.840325610519    |
|Staten Island  |13935.0              |
|Manhattan      |2048.9211563256895   |
|Bronx          |4973.719008264463    |
+---------------+---------------------+