### Install dependencies

In [2]:
!pip install shapely

Collecting shapely
  Downloading shapely-2.0.7-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (6.8 kB)
Requirement already satisfied: numpy<3,>=1.14 in /opt/conda/lib/python3.11/site-packages (from shapely) (1.26.4)
Downloading shapely-2.0.7-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 5.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: shapely
Successfully installed shapely-2.0.7

In [172]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
                    .appName('project1')
                    .enableHiveSupport()
                    .getOrCreate()
        )

## Load the data

In [173]:
# Load NYC taxi trips dataset 
taxi_df = (spark.read
            .option("header", "true")
            .option("inferSchema", "true")
            .csv("input/Sample NYC Data.csv")
          )

display(taxi_df)

# Load boroughs GeoJSON data
boroughs_df = (spark.read.option("inferSchema", True).option("multiline", True).json("input/nyc-boroughs.geojson"))
display(boroughs_df)

DataFrame[medallion: string, hack_license: string, vendor_id: string, rate_code: int, store_and_fwd_flag: string, pickup_datetime: string, dropoff_datetime: string, passenger_count: int, pickup_longitude: double, pickup_latitude: double, dropoff_longitude: double, dropoff_latitude: double]

DataFrame[features: array<struct<geometry:struct<coordinates:array<array<array<double>>>,type:string>,id:bigint,properties:struct<@id:string,borough:string,boroughCode:bigint>,type:string>>, type: string]

## Enriching dataset with borough names

In [174]:
from shapely.geometry import Polygon
from pyspark.sql.functions import explode, col, udf

# udfs for shapely polygon creation and area calculation
def create_polygon(coordinates):
    return Polygon(coordinates[0]).wkt # wkt format can be deserialzed

def calculate_area(coordinates):
    return Polygon(coordinates[0]).area
    
create_polygon_udf = udf(create_polygon)
calculate_area_udf = udf(calculate_area)

In [175]:
from pyspark.sql.types import DoubleType

# explode the features array
boroughs_features_df = boroughs_df.select(explode(col("features")).alias("feature"))

boroughs_features_df.head()

# dataframe enriched with polygon and area
borough_geo_df = (
    boroughs_features_df.select(
        col("feature.properties.borough").alias("borough"),
        col("feature.properties.boroughCode").alias("boroughCode"),
        col("feature.geometry.coordinates").alias("coordinates")
    )
    .withColumn("polygon", create_polygon_udf(col("coordinates")))
    .withColumn("area", calculate_area_udf(col("coordinates")))
)

# cast area to double
borough_geo_df = borough_geo_df.withColumn("area", col("area").cast(DoubleType()))

In [179]:
from pyspark.sql.functions import desc, asc
from shapely.wkt import dumps

# sort the dataframe by boroughCode and area
boroughs_sorted = borough_geo_df.orderBy("boroughCode", desc("area"))
boroughs_sorted.select("borough", "area").show(20, truncate=False)

# broadcast the sorted boroughs dataframe
borough_bd = spark.sparkContext.broadcast(boroughs_sorted.collect())

+---------+---------------------+
|borough  |area                 |
+---------+---------------------+
|Manhattan|0.005859077996035753 |
|Manhattan|2.3271655856762013E-4|
|Manhattan|7.6037752599342E-5   |
|Manhattan|6.23157479510608E-5  |
|Manhattan|3.2658591272044954E-5|
|Manhattan|1.1828883137677094E-5|
|Manhattan|6.143638903459381E-6 |
|Manhattan|3.3831273674444417E-6|
|Manhattan|2.858823502476497E-6 |
|Manhattan|2.393654308790746E-6 |
|Manhattan|2.3345540772235924E-6|
|Manhattan|2.2627340976761147E-6|
|Manhattan|2.2465297475388565E-6|
|Manhattan|2.24116737819868E-6  |
|Manhattan|2.2094455927089308E-6|
|Manhattan|2.0486362960502745E-6|
|Manhattan|1.3300494774255711E-6|
|Manhattan|1.1111770551654054E-6|
|Manhattan|2.354033827718773E-7 |
|Manhattan|2.0929022926724522E-7|
+---------+---------------------+
only showing top 20 rows

In [180]:
from pyspark.sql.types import StringType
from shapely.geometry import Point
from shapely.wkt import loads

# udf for getting borough
def get_borough(lat, long):
    point = Point(long, lat)
    for row in borough_bd.value:
        if loads(row["polygon"]).contains(point):
            return row["borough"]
    return "unknown"

get_borough_udf = udf(get_borough)

In [193]:
taxi_df = taxi_df.withColumn("pickup_borough", get_borough_udf(col("pickup_latitude"), col("pickup_longitude")))
taxi_df = taxi_df.withColumn("dropoff_borough", get_borough_udf(col("dropoff_latitude"), col("dropoff_longitude")))

# taxi_df.show()
taxi_df.select("pickup_borough", "dropoff_borough", "medallion", "pickup_datetime", "dropoff_datetime").show(20)

+--------------+---------------+--------------------+---------------+----------------+
|pickup_borough|dropoff_borough|           medallion|pickup_datetime|dropoff_datetime|
+--------------+---------------+--------------------+---------------+----------------+
|     Manhattan|      Manhattan|89D227B655E5C82AE...| 01-01-13 15:11|  01-01-13 15:18|
|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...| 06-01-13 00:18|  06-01-13 00:22|
|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...| 05-01-13 18:49|  05-01-13 18:54|
|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...| 07-01-13 23:54|  07-01-13 23:58|
|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...| 07-01-13 23:25|  07-01-13 23:34|
|     Manhattan|      Manhattan|20D9ECB2CA0767CF7...| 07-01-13 15:27|  07-01-13 15:38|
|     Manhattan|      Manhattan|496644932DF393260...| 08-01-13 11:01|  08-01-13 11:08|
|     Manhattan|         Queens|0B57B9633A2FECD3D...| 07-01-13 12:39|  07-01-13 13:10|
|     Manhattan|      Manhattan|2C0E91FF20A856C89...| 07-01-13 18:15|  07-01-13 18:20|
|     Manhattan|      Manhattan|2D4B95E2FA7B2E851...| 07-01-13 15:33|  07-01-13 15:49|
|     Manhattan|      Manhattan|E12F6AF991172EAC3...| 08-01-13 13:11|  08-01-13 13:19|
|     Manhattan|      Manhattan|E12F6AF991172EAC3...| 08-01-13 09:50|  08-01-13 10:02|
|     Manhattan|      Manhattan|78FFD9CD0CDA541F3...| 10-01-13 12:07|  10-01-13 12:17|
|     Manhattan|      Manhattan|237F49C3ECC11F502...| 07-01-13 07:35|  07-01-13 07:46|
|     Manhattan|      Manhattan|3349F919AA8AE5DC9...| 10-01-13 15:42|  10-01-13 16:04|
|     Manhattan|      Manhattan|3349F919AA8AE5DC9...| 10-01-13 14:27|  10-01-13 14:45|
|     Manhattan|      Manhattan|4C005EEBAA7BF26B8...| 07-01-13 22:09|  07-01-13 22:19|
|     Manhattan|      Manhattan|7D99C30FCE69B1A9D...| 07-01-13 17:18|  07-01-13 17:20|
|     Manhattan|      Manhattan|E6FBF80668FE0611A...| 07-01-13 06:08|  07-01-13 06:13|
|     Manhattan|      Manhattan|0C5296F3C8B16E702...| 07-01-13 22:25|  07-01-13 22:36|
|        Queens|      Manhattan|D8AADA4E722C87C10...| 10-01-13 23:41|  11-01-13 00:09|
|     Manhattan|      Manhattan|B6FC8357E0D53B0F1...| 07-01-13 18:05|  07-01-13 18:23|
|     Manhattan|      Manhattan|E12F6AF991172EAC3...| 08-01-13 13:29|  08-01-13 13:37|
|     Manhattan|      Manhattan|4C005EEBAA7BF26B8...| 07-01-13 21:13|  07-01-13 21:22|
|     Manhattan|      Manhattan|E9BA494DC1A1F26D1...| 01-01-13 18:36|  01-01-13 18:39|
|      Brooklyn|       Brooklyn|E6FBF80668FE0611A...| 07-01-13 08:17|  07-01-13 08:22|
|     Manhattan|      Manhattan|0C5296F3C8B16E702...| 07-01-13 22:39|  07-01-13 22:44|
|     Manhattan|      Manhattan|A3B17384165197E18...| 07-01-13 06:26|  07-01-13 06:28|
|        Queens|      Manhattan|8E189DABE265CC03F...| 01-01-13 14:02|  01-01-13 14:27|
|     Manhattan|      Manhattan|312E0CB058D7FC1A6...| 05-01-13 11:54|  05-01-13 12:03|
|      Brooklyn|         Queens|F1EF8290A54338B13...| 05-01-13 08:16|  05-01-13 08:30|
|     Manhattan|      Manhattan|0F9E0728AB1E40D5C...| 05-01-13 19:04|  05-01-13 19:13|
|     Manhattan|      Manhattan|33A0B414EB87DB253...| 05-01-13 17:34|  05-01-13 17:48|
|     Manhattan|      Manhattan|24B56A4A0AC119529...| 05-01-13 18:59|  05-01-13 19:12|
|      Brooklyn|         Queens|7E3256C342CAFB3C2...| 05-01-13 03:00|  05-01-13 03:23|
|     Manhattan|      Manhattan|2C159C8FCCDE50174...| 07-01-13 04:45|  07-01-13 04:48|
|     Manhattan|      Manhattan|1F03ADDC384F4C5FB...| 01-01-13 18:45|  01-01-13 18:48|
|     Manhattan|       Brooklyn|764CA5AE502C0FEC9...| 05-01-13 20:51|  05-01-13 21:02|
|     Manhattan|       Brooklyn|CD9DEF073BAB75B8B...| 05-01-13 03:20|  05-01-13 03:43|
|     Manhattan|         Queens|DD98E2C3AF5C47B44...| 02-01-13 06:58|  02-01-13 07:24|
|     Manhattan|      Manhattan|26FC1764E8F96A823...| 06-01-13 00:46|  06-01-13 01:02|
|     Manhattan|         Queens|4A4DA06C65CFA356C...| 02-01-13 08:12|  02-01-13 08:24|
|     Manhattan|      Manhattan|764CA5AE502C0FEC9...| 05-01-13 19:45|  05-01-13 19:57|
|     Manhattan|      Manhattan|E8950C1BF2CE598E9...| 05-01-13 21:23|  05-01-13 21:25|
|        Queens|      Manhattan|99115D1EA0AE33939...| 05-01-13 01:12|  05-01-13 01:26|
|     Manhattan|      Manhattan|9BB803DFE81D89F77...| 06-01-13 10:56|  06-01-13 11:06|
|        Queens|      Manhattan|8F9B593AE29F10B40...| 07-01-13 17:38|  07-01-13 17:57|
|     Manhattan|      Manhattan|0B57B9633A2FECD3D...| 07-01-13 14:38|  07-01-13 14:46|
|     Manhattan|      Manhattan|0B57B9633A2FECD3D...| 07-01-13 10:35|  07-01-13 10:42|
|     Manhattan|      Manhattan|0B57B9633A2FECD3D...| 07-01-13 14:46|  07-01-13 14:55|
+--------------+---------------+--------------------+---------------+----------------+
only showing top 50 rows

## Data cleansing

In [194]:
from pyspark.sql.functions import unix_timestamp
# add columns for pickup and dropoff times in unix timestamps 

time_format = "dd-MM-yy HH:mm"

taxi_df = (taxi_df
           .withColumn("pickup_timestamp", unix_timestamp(col("pickup_datetime"), time_format))
           .withColumn("dropoff_timestamp", unix_timestamp(col("dropoff_datetime"), time_format))
           .withColumn("duration", col("dropoff_timestamp") - col("pickup_timestamp"))
          )

taxi_df.select("pickup_timestamp", "dropoff_timestamp", "pickup_datetime", "dropoff_datetime", "duration", "pickup_borough", "dropoff_borough", "medallion").show(20)

+----------------+-----------------+---------------+----------------+--------+--------------+---------------+--------------------+
|pickup_timestamp|dropoff_timestamp|pickup_datetime|dropoff_datetime|duration|pickup_borough|dropoff_borough|           medallion|
+----------------+-----------------+---------------+----------------+--------+--------------+---------------+--------------------+
|      1357053060|       1357053480| 01-01-13 15:11|  01-01-13 15:18|     420|     Manhattan|      Manhattan|89D227B655E5C82AE...|
|      1357431480|       1357431720| 06-01-13 00:18|  06-01-13 00:22|     240|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|
|      1357411740|       1357412040| 05-01-13 18:49|  05-01-13 18:54|     300|     Manhattan|      Manhattan|0BD7C8F5BA12B88E0...|
|      1357602840|       1357603080| 07-01-13 23:54|  07-01-13 23:58|     240|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|
|      1357601100|       1357601640| 07-01-13 23:25|  07-01-13 23:34|     540|     Manhattan|      Manhattan|DFD2202EE08F7A8DC...|
|      1357572420|       1357573080| 07-01-13 15:27|  07-01-13 15:38|     660|     Manhattan|      Manhattan|20D9ECB2CA0767CF7...|
|      1357642860|       1357643280| 08-01-13 11:01|  08-01-13 11:08|     420|     Manhattan|      Manhattan|496644932DF393260...|
|      1357562340|       1357564200| 07-01-13 12:39|  07-01-13 13:10|    1860|     Manhattan|         Queens|0B57B9633A2FECD3D...|
|      1357582500|       1357582800| 07-01-13 18:15|  07-01-13 18:20|     300|     Manhattan|      Manhattan|2C0E91FF20A856C89...|
|      1357572780|       1357573740| 07-01-13 15:33|  07-01-13 15:49|     960|     Manhattan|      Manhattan|2D4B95E2FA7B2E851...|
|      1357650660|       1357651140| 08-01-13 13:11|  08-01-13 13:19|     480|     Manhattan|      Manhattan|E12F6AF991172EAC3...|
|      1357638600|       1357639320| 08-01-13 09:50|  08-01-13 10:02|     720|     Manhattan|      Manhattan|E12F6AF991172EAC3...|
|      1357819620|       1357820220| 10-01-13 12:07|  10-01-13 12:17|     600|     Manhattan|      Manhattan|78FFD9CD0CDA541F3...|
|      1357544100|       1357544760| 07-01-13 07:35|  07-01-13 07:46|     660|     Manhattan|      Manhattan|237F49C3ECC11F502...|
|      1357832520|       1357833840| 10-01-13 15:42|  10-01-13 16:04|    1320|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|
|      1357828020|       1357829100| 10-01-13 14:27|  10-01-13 14:45|    1080|     Manhattan|      Manhattan|3349F919AA8AE5DC9...|
|      1357596540|       1357597140| 07-01-13 22:09|  07-01-13 22:19|     600|     Manhattan|      Manhattan|4C005EEBAA7BF26B8...|
|      1357579080|       1357579200| 07-01-13 17:18|  07-01-13 17:20|     120|     Manhattan|      Manhattan|7D99C30FCE69B1A9D...|
|      1357538880|       1357539180| 07-01-13 06:08|  07-01-13 06:13|     300|     Manhattan|      Manhattan|E6FBF80668FE0611A...|
|      1357597500|       1357598160| 07-01-13 22:25|  07-01-13 22:36|     660|     Manhattan|      Manhattan|0C5296F3C8B16E702...|
+----------------+-----------------+---------------+----------------+--------+--------------+---------------+--------------------+
only showing top 20 rows

In [199]:
# filter out the trips with invalid duration
print(taxi_df.count())

max_trip_duration = 4 * 60 * 60 # 4 hours

filtered_taxi_df = taxi_df.filter((col("duration") > 0) & (col("duration") <= max_trip_duration))
print(filtered_taxi_df.count())

99999
99549

## Utilization Query

In [203]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, sum as _sum, when

# partition data by medallion
window_spec = Window.partitionBy("medallion").orderBy("pickup_timestamp")

# add previous dropoff time as column
taxi_df = taxi_df.withColumn("prev_dropoff_timestamp", lag("dropoff_timestamp").over(window_spec))

# add idle time column
taxi_df = taxi_df.withColumn("idle_time", col("pickup_timestamp") - col("prev_dropoff_timestamp"))

session_threshold = 4 * 60 * 60
# if idle time is more than 4 hours, count consider it's a new session
taxi_df = taxi_df.withColumn(
    "idle_time",
    when(col("idle_time") <= session_threshold, col("idle_time")).otherwise(0)
)

# group by taxi ID and get the total idle time
utilization_df = (
    taxi_df
    .groupBy("medallion")
    .agg(_sum("duration").alias("busy_time_sum"),
         _sum("idle_time").alias("idle_time_sum")
    )
)

utilization_df = utilization_df.withColumn(
    "utilization_rate",
    col("busy_time_sum") / (col("busy_time_sum") + col("idle_time_sum"))
)

utilization_df.show(50)

+--------------------+-------------+-------------+-------------------+
|           medallion|busy_time_sum|idle_time_sum|   utilization_rate|
+--------------------+-------------+-------------+-------------------+
|000318C2E3E638158...|        13920|        17400| 0.4444444444444444|
|002E3B405B6ABEA23...|        10260|        16140| 0.3886363636363636|
|0030AD2648D81EE87...|         1980|          720| 0.7333333333333333|
|0036961468659D0BF...|        11700|        19740|0.37213740458015265|
|0038EF45118925A51...|        10920|        15120|0.41935483870967744|
|0053334C798EC6C8E...|         7920|        22440| 0.2608695652173913|
|005DED7D6E6C45441...|        11460|        11760| 0.4935400516795866|
|005F00B38F46E2100...|        18600|        42180| 0.3060217176702863|
|00790C7BAD30B7A9E...|        12360|        25320|0.32802547770700635|
|0094A03FFE6BAFBE0...|        10680|         5400|  0.664179104477612|
|009D3CCA83486B03F...|        19620|        40920| 0.3240832507433102|
|009E68CADCB1BCF73...|          780|            0|                1.0|
|00BD5D1AD3A96C997...|        10200|        12540|0.44854881266490765|
|00E0904FC59DA2C36...|          780|            0|                1.0|
|00FB3D49C3DE5E002...|        15000|        14580| 0.5070993914807302|
|012B65864B3BE97D6...|         6660|         6360|  0.511520737327189|
|012F172C0351A4767...|        16200|        40680| 0.2848101265822785|
|01389E9CF7758ECAC...|         2880|         5460|0.34532374100719426|
|019AFB33C3153481B...|         7500|         9840|0.43252595155709345|
|01BD10395EF30144C...|         4320|         5940|0.42105263157894735|
|01C905F5CF4CD4D36...|         9420|         8340| 0.5304054054054054|
|01D13A056D9A26F84...|         7740|        15480| 0.3333333333333333|
|01D8C877762B42B4F...|        19500|        18540| 0.5126182965299685|
|01DDF05F9C01F581E...|        10680|        16860| 0.3877995642701525|
|01F9F5C3B207C3D05...|        11220|        24060|0.31802721088435376|
|02063AF23344CEA45...|         4680|         6780| 0.4083769633507853|
|02563784A67816C40...|         8100|         5460| 0.5973451327433629|
|025CAAC6524CD33D7...|        11400|        13500| 0.4578313253012048|
|026C93D85C6DFD560...|        12960|         9420|  0.579088471849866|
|0278B837D850DB620...|        10560|        38400|0.21568627450980393|
|02861094C5C334E36...|        13620|        17640|0.43570057581573896|
|02928AFF13D7E2BEA...|         3900|         2520| 0.6074766355140186|
|0293108C734F9B1C3...|         9780|        14520| 0.4024691358024691|
|02A2214E583CDF23A...|         1980|         3900|  0.336734693877551|
|02B196981B24858BC...|         7260|         7140| 0.5041666666666667|
|02B5097C51EBA1043...|        11160|        20640|0.35094339622641507|
|02BFD1B64C2C80B43...|          480|            0|                1.0|
|02C49A409C2DC66B1...|         5520|        10260|0.34980988593155893|
|02D57565703BFABEC...|         9060|        10200|  0.470404984423676|
|02E517E0C95841629...|        16020|         8640| 0.6496350364963503|
|02E5A4136FD0A775A...|          480|            0|                1.0|
|02EBF943439BE7166...|        10620|         8340|  0.560126582278481|
|02F32A52C7BA74873...|        10140|        11100| 0.4774011299435028|
|03055B956C21B1F91...|        14520|        18360| 0.4416058394160584|
|0321A1CAE98C6F5BA...|        10320|         9060| 0.5325077399380805|
|03440BEC1C3E0DA65...|         9120|        28140|0.24476650563607086|
|03669FD5D1F17360C...|        14040|        22740| 0.3817292006525285|
|037CB433AB5895649...|        10980|        21000| 0.3433395872420263|
|038E76DC061A40AE0...|        18660|        28080| 0.3992297817715019|
|0398E30B94A30D36B...|        12240|        30540| 0.2861150070126227|
+--------------------+-------------+-------------+-------------------+
only showing top 50 rows

## Average time for taxi to find next fare per destination borough

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lead, avg, col

taxi_df = taxi_df.select("medallion", "dropoff_borough", "pickup_timestamp", "dropoff_timestamp")
taxi_df = taxi_df.repartition("medallion")
window_spec = Window.partitionBy("medallion").orderBy("dropoff_timestamp")
taxi_df = taxi_df.withColumn("next_pickup_timestamp", lead("pickup_timestamp").over(window_spec))
taxi_df = taxi_df.withColumn("time_to_next_fare", col("next_pickup_timestamp") - col("dropoff_timestamp"))
taxi_df = taxi_df.persist()
avg_time_per_borough = (
    taxi_df.groupBy("dropoff_borough")
    .agg(avg("time_to_next_fare").alias("avg_time_to_next_fare"))
)
avg_time_per_borough = avg_time_per_borough.repartition(1)
avg_time_per_borough.show()