### Install dependencies

In [1]:
!pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.11/site-packages (3.3.0)
Requirement already satisfied: pyspark<3.6.0,>=3.5.3 in /usr/local/spark/python (from delta-spark) (3.5.3)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.11/site-packages (from delta-spark) (8.5.0)
Requirement already satisfied: zipp>=3.20 in /opt/conda/lib/python3.11/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.20.2)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark<3.6.0,>=3.5.3->delta-spark) (0.10.9.7)

In [2]:
from delta import configure_spark_with_delta_pip
from pyspark.sql import SparkSession


builder = SparkSession.builder.appName("project2") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

## Load the data

In [3]:
# Define the expected column names based on the CSV's field count
columns = [
    "medallion", "hack_license", "pickup_datetime", "dropoff_datetime",
    "trip_time_in_secs", "trip_distance", "pickup_longitude", "pickup_latitude",
    "dropoff_longitude", "dropoff_latitude", "payment_type", "fare_amount",
    "surcharge", "mta_tax", "tip_amount", "tolls_amount", "total_amount"
]

df = spark.read.option("header", "false").csv("input/sorted_data.csv")
df = df.toDF(*columns)
df.printSchema()

fraction = 1.0 / 12  # Approximately 0.03
df_sample = df.sample(withReplacement=False, fraction=fraction)

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)

## Data cleansing

In [4]:
from pyspark.sql.functions import col, to_timestamp

# Convert pickup and dropoff datetimes to timestamps
df_sample = df_sample.withColumn("pickup_datetime", to_timestamp(col("pickup_datetime"), "yyyy-MM-dd HH:mm:ss")) \
                     .withColumn("dropoff_datetime", to_timestamp(col("dropoff_datetime"), "yyyy-MM-dd HH:mm:ss"))

clean_df = df_sample.filter(
    (col("pickup_datetime").isNotNull()) &
    (col("dropoff_datetime").isNotNull()) &
    (col("medallion").isNotNull()) & (col("medallion") != "") &
    (col("hack_license").isNotNull()) & (col("hack_license") != "") &
    (col("trip_distance").cast("float") > 0) &
    (col("fare_amount").cast("float") > 0)
)

clean_df = clean_df.withColumn("trip_time_in_secs", col("trip_time_in_secs").cast("int")) \
                   .withColumn("trip_distance", col("trip_distance").cast("float")) \
                   .withColumn("fare_amount", col("fare_amount").cast("float")) \
                   .withColumn("surcharge", col("surcharge").cast("float")) \
                   .withColumn("mta_tax", col("mta_tax").cast("float")) \
                   .withColumn("tip_amount", col("tip_amount").cast("float")) \
                   .withColumn("tolls_amount", col("tolls_amount").cast("float"))
clean_df.count()
clean_df.show(20)

+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|    pickup_datetime|   dropoff_datetime|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|0CEBE42EAF42C3380...|CC7A4176549BA819E...|2013-01-01 00:00:00|2013-01-01 00:03:00|              180|         1.56|      -74.009750|      40.706432|       -73.971985|       40.794716|         CSH|        6.5|      0.5|    0.5|       0.0|         0.0|        7.50|
|5CC9B3C9725FCD7FA...|9F4A98FA581907FC2...|2013-01-01 00:00:00|2013-01-01 00:03:00|              180|         0.64|      -74.001404|      40.722610|       -73.998177|       40.729485|         CSH|        4.5|      0.5|    0.5|       0.0|         0.0|        5.50|
|E07A1976036B82DA9...|F33756EA65252C595...|2013-01-01 00:01:00|2013-01-01 00:03:00|              120|         0.01|      -73.982216|      40.768768|       -73.982132|       40.768639|         CSH|        3.0|      0.5|    0.5|       0.0|         0.0|        4.00|
|7EEAE7CDAFC4D42FE...|1BB1BDE9F4C40D094...|2013-01-01 00:01:35|2013-01-01 00:03:44|              129|          0.8|      -73.923775|      40.770325|       -73.931877|       40.759815|         CSH|        4.5|      0.5|    0.5|       0.0|         0.0|        5.50|
|87EC61B520189EFEA...|2B9F6F2C53DF205A4...|2013-01-01 00:02:00|2013-01-01 00:04:00|              120|         0.72|      -73.977089|      40.789925|       -73.984505|       40.782444|         CSH|        4.5|      0.5|    0.5|       0.0|         0.0|        5.50|
|EEF7C5160FE5886A2...|9441C416CC0FB7BA6...|2013-01-01 00:03:02|2013-01-01 00:05:11|              128|          0.6|      -73.988525|      40.758873|       -73.982552|       40.767254|         CSH|        4.0|      0.5|    0.5|       0.0|         0.0|        5.00|
|1691DC222DB9054B1...|2F0A73204DFEEA265...|2013-01-01 00:01:31|2013-01-01 00:05:54|              263|          0.5|      -73.987053|      40.739876|       -73.992851|       40.742748|         CSH|        4.5|      0.5|    0.5|       0.0|         0.0|        5.50|
|5F9C08A05F6449EE3...|7CA54E7DDBB0D2882...|2013-01-01 00:01:00|2013-01-01 00:06:00|              300|         1.32|      -73.959694|      40.776882|       -73.961655|       40.763577|         CSH|        6.5|      0.5|    0.5|       0.0|         0.0|        7.50|
|5142072568D80D822...|CB79FA15C572A8F0A...|2013-01-01 00:04:35|2013-01-01 00:06:06|               91|          0.4|      -73.968758|      40.754688|       -73.974396|       40.757286|         CSH|        3.5|      0.5|    0.5|       0.0|         0.0|        4.50|
|1C341430AF45F688E...|9F7118CDF1876A0E4...|2013-01-01 00:05:01|2013-01-01 00:06:36|               94|          0.2|      -74.005356|      40.720814|       -74.004868|       40.723621|         CSH|        3.0|      0.5|    0.5|       0.0|         0.0|        4.00|
|1F9E2C27335E24C6A...|F0CB659C0B6D2FABC...|2013-01-01 00:03:00|2013-01-01 00:07:00|              240|         0.26|      -73.996834|      40.720367|       -73.994102|       40.721085|         CSH|        4.0|      0.5|    0.5|       0.0|         0.0|        5.00|
|9836A6780886D5D11...|59E4699CBA26E3BCA...|2013-01-01 00:05:00|2013-01-01 00:07:00|              120|         0.61|      -73.994644|      40.756016|       -73.998413|       40.750599|         CRD|        4.0|      0.5|    0.5|      1.35|         0.0|        6.35|
|312E0CB058D7FC1A6...|59F06ED612FD58E8C...|2013-01-01 00:00:14|2013-01-01 00:07:10|              416|          0.7|      -73.993736|      40.752232|       -73.996468|       40.742966|         CRD|        6.5|      0.5|    0.5|       2.0|         0.0|        9.50|
|67B0EC98DD6BCB83F...|D8B9D865960E24575...|2013-01-01 00:03:53|2013-01-01 00:07:28|              215|          1.2|      -74.001938|      40.726345|       -73.993599|       40.741795|         CRD|        5.5|      0.5|    0.5|       1.3|         0.0|        7.80|
|586E42CBE3010646C...|83F57D0B7B416F514...|2013-01-01 00:03:11|2013-01-01 00:07:41|              270|          1.5|      -73.959038|      40.780590|       -73.951042|       40.798401|         CSH|        6.5|      0.5|    0.5|       0.0|         0.0|        7.50|
|30805D66D3BC8565D...|17278280E0FBA6329...|2013-01-01 00:01:22|2013-01-01 00:07:53|              391|          1.3|      -73.997574|      40.760525|       -74.006332|       40.744595|         CSH|        7.5|      0.5|    0.5|       0.0|         0.0|        8.50|
|FD487D4BE7A6709FF...|F879798C97EE20CA7...|2013-01-01 00:05:30|2013-01-01 00:07:56|              145|          0.7|      -73.976677|      40.751637|       -73.977242|       40.742889|         CSH|        4.5|      0.5|    0.5|       0.0|         0.0|        5.50|
|0F6CF8A85A039CDF3...|B6ECF5802089A7125...|2013-01-01 00:01:00|2013-01-01 00:08:00|              420|         1.95|      -73.983185|      40.730606|       -73.977295|       40.751850|         CSH|        8.5|      0.5|    0.5|       0.0|         0.0|        9.50|
|1E382090C15DF8B41...|6DC841A5F028073A7...|2013-01-01 00:07:00|2013-01-01 00:08:00|               60|         0.01|      -74.000648|      40.718609|       -74.000755|       40.718674|         CSH|        3.0|      0.5|    0.5|       0.0|         0.0|        4.00|
|F1D1F07C119A09262...|333577CC68DC3366D...|2013-01-01 00:03:00|2013-01-01 00:08:00|              300|         1.44|      -73.965485|      40.805790|       -73.955780|       40.818932|         CSH|        7.0|      0.5|    0.5|       0.0|         0.0|        8.00|
+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 20 rows

## Query 1 - Part 1

In [5]:
from pyspark.sql.functions import col, floor, concat, lit, current_timestamp, expr, max as spark_max
from datetime import timedelta

max_dropoff = clean_df.select(spark_max("dropoff_datetime")).first()[0]
print("Max dropoff datetime:", max_dropoff)

ref_time = max_dropoff - timedelta(minutes=30)

# Constants for the 500m x 500m grid
grid_origin_lat = 41.474937
grid_origin_lon = -74.913585
delta_lat = 0.0045   # Approximate degrees for 500m in latitude
delta_lon = 0.0060   # Approximate degrees for 500m in longitude

df_routes = clean_df.withColumn(
    "start_cell",
    concat(
        (floor((col("pickup_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + 1).cast("int"),
        lit("."),
        (floor((lit(grid_origin_lat) - col("pickup_latitude")) / lit(delta_lat)) + 1).cast("int")
    )
).withColumn(
    "end_cell",
    concat(
        (floor((col("dropoff_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + 1).cast("int"),
        lit("."),
        (floor((lit(grid_origin_lat) - col("dropoff_latitude")) / lit(delta_lat)) + 1).cast("int")
    )
)

df_last30 = df_routes.filter(col("dropoff_datetime") >= lit(ref_time))


# Group by start and end cell and count the rides
df_frequent_routes = df_last30.groupBy("start_cell", "end_cell").count() \
    .withColumnRenamed("count", "Number_of_Rides")

top10_routes = df_frequent_routes.orderBy(col("Number_of_Rides").desc()).limit(10)
top10_routes.show(truncate=False)

Max dropoff datetime: 2014-01-01 01:10:00
+----------+--------+---------------+
|start_cell|end_cell|Number_of_Rides|
+----------+--------+---------------+
|154.159   |156.159 |1              |
|154.165   |155.157 |1              |
|154.159   |165.171 |1              |
|156.166   |156.166 |1              |
+----------+--------+---------------+

## Query 1 - Part 2

In [6]:
# Write the cleansed data to a Delta table in a writable directory.
clean_df.write.format("delta").mode("overwrite").save("/tmp/delta/taxi_data")
streaming_df = spark.readStream.format("delta").load("/tmp/delta/taxi_data")

In [7]:
# 1) Read the Delta table in batch mode
check_df = spark.read.format("delta").load("/tmp/delta/taxi_data")

# 2) See the schema
check_df.printSchema()

# 3) Inspect some rows
check_df.show(5, truncate=False)

# 4) Count the rows
print("Row count:", check_df.count())

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: string (nullable = true)

+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|medallion                       |hack_license                    |pickup_datetime    |dropoff_datetime   |trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|C922EBA2C57BFB7683EF4457D08842D7|8347AF7A4DFA543EE7CC8558639658AA|2013-01-02 18:23:00|2013-01-02 18:59:00|2160             |10.58        |-73.870827      |40.773743      |-73.982346       |40.771576       |CSH         |35.5       |1.0      |0.5    |0.0       |4.8         |41.80       |
|D6C88A1D929659923F068E17046036C9|4A41A45650E6EDCC62827AAD7B3C5A33|2013-01-02 18:53:00|2013-01-02 18:59:00|360              |0.81         |-73.991997      |40.731956      |-74.000298       |40.727211       |CSH         |6.0        |1.0      |0.5    |0.0       |0.0         |7.50        |
|9CCF07B476B482C2050A8C63360586F7|8ECD713708411D7A6476EB7827E54ADD|2013-01-02 18:51:25|2013-01-02 18:59:11|466              |1.9          |-74.002762      |40.727119      |-74.003677       |40.747734       |CRD         |8.5        |1.0      |0.5    |2.0       |0.0         |12.00       |
|B5871D0837BD95C235878A8006636456|D731BD334154A9F3DF1365F11BEAD8DF|2013-01-02 18:52:59|2013-01-02 18:59:14|374              |0.6          |-73.981201      |40.765656      |-73.982079       |40.772354       |CSH         |5.5        |1.0      |0.5    |0.0       |0.0         |7.00        |
|AA04CED9E568816005A27A136172D491|1D4D47582D500E4DC0CAD1D2930887B3|2013-01-02 18:56:09|2013-01-02 18:59:15|185              |0.7          |-74.002625      |40.739571      |-73.995148       |40.749908       |CRD         |4.5        |1.0      |0.5    |1.2       |0.0         |7.20        |
+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 5 rows

Row count: 14336868

In [8]:
from pyspark.sql.functions import (
    col, floor, concat, lit, current_timestamp, to_timestamp, expr
)
from pyspark.sql import functions as F
from datetime import timedelta, datetime
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType

# Constants for the 500m x 500m grid
grid_origin_lat = 41.474937
grid_origin_lon = -74.913585
delta_lat = 0.0045   # Approximate degrees for 500m in latitude
delta_lon = 0.0060   # Approximate degrees for 500m in longitude

# This is your foreachBatch function to process each micro-batch
def process_batch(batch_df, batch_id):
    # Skip empty batches
    if batch_df.rdd.isEmpty():
        return

    # Get the latest dropoff time in the batch
    max_dropoff = batch_df.select(F.max("dropoff_datetime")).first()[0]
    if max_dropoff is None:
        return
    ref_time = max_dropoff - timedelta(minutes=30)

    # Compute the cell IDs
    batch_df = batch_df.withColumn(
        "pickup_cell_east", floor((col("pickup_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + 1
    ).withColumn(
        "pickup_cell_south", floor((lit(grid_origin_lat) - col("pickup_latitude")) / lit(delta_lat)) + 1
    ).withColumn(
        "start_cell", concat(col("pickup_cell_east").cast("int"), lit("."), col("pickup_cell_south").cast("int"))
    )
    batch_df = batch_df.withColumn(
        "dropoff_cell_east", floor((col("dropoff_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + 1
    ).withColumn(
        "dropoff_cell_south", floor((lit(grid_origin_lat) - col("dropoff_latitude")) / lit(delta_lat)) + 1
    ).withColumn(
        "end_cell", concat(col("dropoff_cell_east").cast("int"), lit("."), col("dropoff_cell_south").cast("int"))
    )

    # Filter out trips that are out-of-bounds (only consider cells 1 to 300)
    batch_df = batch_df.filter(
        (col("pickup_cell_east").between(1, 300)) &
        (col("pickup_cell_south").between(1, 300)) &
        (col("dropoff_cell_east").between(1, 300)) &
        (col("dropoff_cell_south").between(1, 300))
    )

    # Filter for trips with dropoff_datetime >= ref_time (last 30 minutes)
    df_last30 = batch_df.filter(col("dropoff_datetime") >= F.lit(ref_time))
    print(f"Window filter: dropoff_datetime >= {ref_time}")
    print("df_last30 count =", df_last30.count())
    df_last30.show(5)

    # Aggregate routes and get top 10 most frequent
    df_frequent_routes = df_last30.groupBy("start_cell", "end_cell").count().withColumnRenamed("count", "Number_of_Rides")
    top10_routes = df_frequent_routes.orderBy(col("Number_of_Rides").desc()).limit(10)
    top10_list = top10_routes.collect()

    # Determine a triggering event and compute delay
    # Choose the event with the maximum dropoff_datetime as the trigger
    trigger_row = df_last30.orderBy(col("dropoff_datetime").desc()).limit(1).collect()[0]
    trigger_pickup = trigger_row["pickup_datetime"]
    trigger_dropoff = trigger_row["dropoff_datetime"]
    
    ingest_time = trigger_row["ingest_time"]
    processing_time = datetime.now()
    delay = (processing_time - ingest_time).total_seconds()

    # Build the output row
    output_row = {
        "pickup_datetime": trigger_pickup,
        "dropoff_datetime": trigger_dropoff,
        "delay": delay
    }
    for i in range(10):
        if i < len(top10_list):
            route = top10_list[i]
            output_row[f"start_cell_id_{i+1}"] = route["start_cell"]
            output_row[f"end_cell_id_{i+1}"] = route["end_cell"]
        else:
            output_row[f"start_cell_id_{i+1}"] = None
            output_row[f"end_cell_id_{i+1}"] = None

    # Print the output update
    print(f"Update for batch {batch_id} :", output_row)
    
    # Define the output schema
    output_schema = StructType([
        StructField("pickup_datetime", TimestampType(), True),
        StructField("dropoff_datetime", TimestampType(), True),
        StructField("start_cell_id_1", StringType(), True),
        StructField("end_cell_id_1", StringType(), True),
        StructField("start_cell_id_2", StringType(), True),
        StructField("end_cell_id_2", StringType(), True),
        StructField("start_cell_id_3", StringType(), True),
        StructField("end_cell_id_3", StringType(), True),
        StructField("start_cell_id_4", StringType(), True),
        StructField("end_cell_id_4", StringType(), True),
        StructField("start_cell_id_5", StringType(), True),
        StructField("end_cell_id_5", StringType(), True),
        StructField("start_cell_id_6", StringType(), True),
        StructField("end_cell_id_6", StringType(), True),
        StructField("start_cell_id_7", StringType(), True),
        StructField("end_cell_id_7", StringType(), True),
        StructField("start_cell_id_8", StringType(), True),
        StructField("end_cell_id_8", StringType(), True),
        StructField("start_cell_id_9", StringType(), True),
        StructField("end_cell_id_9", StringType(), True),
        StructField("start_cell_id_10", StringType(), True),
        StructField("end_cell_id_10", StringType(), True),
        StructField("delay", DoubleType(), True)
    ])
    
    # Create the DataFrame using the explicit schema
    result_df = spark.createDataFrame([output_row], schema=output_schema)
    result_df.show(truncate=False)

# Convert the datetime columns
streaming_df = streaming_df.withColumn("pickup_datetime", to_timestamp(col("pickup_datetime"), "yyyy-MM-dd HH:mm:ss"))
streaming_df = streaming_df.withColumn("dropoff_datetime", to_timestamp(col("dropoff_datetime"), "yyyy-MM-dd HH:mm:ss"))
streaming_df = streaming_df.withColumn("ingest_time", current_timestamp())

# Use trigger(once=True) to process existing data exactly one time
query = (
    streaming_df.writeStream
    .trigger(once=True)                # <--- This forces the query to run just once
    .foreachBatch(process_batch)
    .outputMode("append")
    .start()
)

query.awaitTermination()

Window filter: dropoff_datetime >= 2014-01-01 00:40:00
df_last30 count = 4
+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+--------------------+----------------+-----------------+----------+-----------------+------------------+--------+
|           medallion|        hack_license|    pickup_datetime|   dropoff_datetime|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|         ingest_time|pickup_cell_east|pickup_cell_south|start_cell|dropoff_cell_east|dropoff_cell_south|end_cell|
+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+--------------------+----------------+-----------------+----------+-----------------+------------------+--------+
|489ED3944E97C1A5C...|797E4C99B45BCD6F7...|2013-12-31 23:56:00|2014-01-01 00:41:00|             2700|        16.32|      -73.980461|      40.730232|       -73.980141|       40.729443|         CSH|       51.5|      0.5|    0.5|       0.0|         0.0|       52.50|2025-03-30 19:01:...|             156|              166|   156.166|              156|               166| 156.166|
|E15F7CCB808DD15E0...|006114F940CB87B3A...|2013-12-31 23:49:00|2014-01-01 00:42:00|             3180|        14.05|      -73.989738|      40.734219|       -73.987831|       40.768898|         CRD|       48.5|      0.5|    0.5|       0.0|         0.0|       49.50|2025-03-30 19:01:...|             154|              165|   154.165|              155|               157| 155.157|
|34A6D6B37688CD29D...|17F69C23B41CEC6CD...|2013-12-31 23:52:00|2014-01-01 00:49:00|             3420|         2.31|      -73.990784|      40.760857|       -73.979645|       40.761463|         CSH|       32.0|      0.5|    0.5|       0.0|         0.0|       33.00|2025-03-30 19:01:...|             154|              159|   154.159|              156|               159| 156.159|
|1944C571670999651...|21D54F0DB50FB1C51...|2013-12-31 23:47:00|2014-01-01 01:10:00|             4980|        17.01|      -73.992378|      40.761696|       -73.925484|       40.708118|         CRD|       69.0|      0.5|    0.5|       5.0|        5.33|       80.33|2025-03-30 19:01:...|             154|              159|   154.159|              165|               171| 165.171|
+--------------------+--------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+--------------------+----------------+-----------------+----------+-----------------+------------------+--------+

Update for batch 0 : {'pickup_datetime': datetime.datetime(2013, 12, 31, 23, 47), 'dropoff_datetime': datetime.datetime(2014, 1, 1, 1, 10), 'delay': 46.156276, 'start_cell_id_1': '154.159', 'end_cell_id_1': '156.159', 'start_cell_id_2': '154.159', 'end_cell_id_2': '165.171', 'start_cell_id_3': '154.165', 'end_cell_id_3': '155.157', 'start_cell_id_4': '156.166', 'end_cell_id_4': '156.166', 'start_cell_id_5': None, 'end_cell_id_5': None, 'start_cell_id_6': None, 'end_cell_id_6': None, 'start_cell_id_7': None, 'end_cell_id_7': None, 'start_cell_id_8': None, 'end_cell_id_8': None, 'start_cell_id_9': None, 'end_cell_id_9': None, 'start_cell_id_10': None, 'end_cell_id_10': None}
+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+---------+
|pickup_datetime    |dropoff_datetime   |start_cell_id_1|end_cell_id_1|start_cell_id_2|end_cell_id_2|start_cell_id_3|end_cell_id_3|start_cell_id_4|end_cell_id_4|start_cell_id_5|end_cell_id_5|start_cell_id_6|end_cell_id_6|start_cell_id_7|end_cell_id_7|start_cell_id_8|end_cell_id_8|start_cell_id_9|end_cell_id_9|start_cell_id_10|end_cell_id_10|delay    |
+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+---------+
|2013-12-31 23:47:00|2014-01-01 01:10:00|154.159        |156.159      |154.159        |165.171      |154.165        |155.157      |156.166        |156.166      |NULL           |NULL         |NULL           |NULL         |NULL           |NULL         |NULL           |NULL         |NULL           |NULL         |NULL            |NULL          |46.156276|
+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+---------+

10 most profitable areas:
Area 1:
  Cell ID: 330.341
  Empty Taxis: 1
  Median Profit: None
  Profitability: None
Area 2:
  Cell ID: 308.317
  Empty Taxis: None
  Median Profit: 74.0
  Profitability: None
Area 3:
  Cell ID: 309.314
  Empty Taxis: 1
  Median Profit: None
  Profitability: None
Area 4:
  Cell ID: 312.318
  Empty Taxis: 1
  Median Profit: None
  Profitability: None
Area 5:
  Cell ID: 312.332
  Empty Taxis: 1
  Median Profit: None
  Profitability: None
Update for batch 0: {'pickup_datetime': datetime.datetime(2013, 12, 31, 23, 47), 'dropoff_datetime': datetime.datetime(2014, 1, 1, 1, 10), 'delay': 32.739564, 'profitable_cell_id_1': '330.341', 'empty_taxies_in_cell_id_1': 1, 'median_profit_in_cell_id_1': None, 'profitability_of_cell_1': None, 'profitable_cell_id_2': '308.317', 'empty_taxies_in_cell_id_2': None, 'median_profit_in_cell_id_2': 74.0, 'profitability_of_cell_2': None, 'profitable_cell_id_3': '309.314', 'empty_taxies_in_cell_id_3': 1, 'median_profit_in_cell_id_3': None, 'profitability_of_cell_3': None, 'profitable_cell_id_4': '312.318', 'empty_taxies_in_cell_id_4': 1, 'median_profit_in_cell_id_4': None, 'profitability_of_cell_4': None, 'profitable_cell_id_5': '312.332', 'empty_taxies_in_cell_id_5': 1, 'median_profit_in_cell_id_5': None, 'profitability_of_cell_5': None, 'profitable_cell_id_6': None, 'empty_taxies_in_cell_id_6': None, 'median_profit_in_cell_id_6': None, 'profitability_of_cell_6': None, 'profitable_cell_id_7': None, 'empty_taxies_in_cell_id_7': None, 'median_profit_in_cell_id_7': None, 'profitability_of_cell_7': None, 'profitable_cell_id_8': None, 'empty_taxies_in_cell_id_8': None, 'median_profit_in_cell_id_8': None, 'profitability_of_cell_8': None, 'profitable_cell_id_9': None, 'empty_taxies_in_cell_id_9': None, 'median_profit_in_cell_id_9': None, 'profitability_of_cell_9': None, 'profitable_cell_id_10': None, 'empty_taxies_in_cell_id_10': None, 'median_profit_in_cell_id_10': None, 'profitability_of_cell_10': None}
+-------------------+-------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+---------------------+--------------------------+---------------------------+------------------------+---------+
|pickup_datetime    |dropoff_datetime   |profitable_cell_id_1|empty_taxies_in_cell_id_1|median_profit_in_cell_id_1|profitability_of_cell_1|profitable_cell_id_2|empty_taxies_in_cell_id_2|median_profit_in_cell_id_2|profitability_of_cell_2|profitable_cell_id_3|empty_taxies_in_cell_id_3|median_profit_in_cell_id_3|profitability_of_cell_3|profitable_cell_id_4|empty_taxies_in_cell_id_4|median_profit_in_cell_id_4|profitability_of_cell_4|profitable_cell_id_5|empty_taxies_in_cell_id_5|median_profit_in_cell_id_5|profitability_of_cell_5|profitable_cell_id_6|empty_taxies_in_cell_id_6|median_profit_in_cell_id_6|profitability_of_cell_6|profitable_cell_id_7|empty_taxies_in_cell_id_7|median_profit_in_cell_id_7|profitability_of_cell_7|profitable_cell_id_8|empty_taxies_in_cell_id_8|median_profit_in_cell_id_8|profitability_of_cell_8|profitable_cell_id_9|empty_taxies_in_cell_id_9|median_profit_in_cell_id_9|profitability_of_cell_9|profitable_cell_id_10|empty_taxies_in_cell_id_10|median_profit_in_cell_id_10|profitability_of_cell_10|delay    |
+-------------------+-------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+---------------------+--------------------------+---------------------------+------------------------+---------+
|2013-12-31 23:47:00|2014-01-01 01:10:00|330.341             |1                        |NULL                      |NULL                   |308.317             |NULL                     |74.0                      |NULL                   |309.314             |1                        |NULL                      |NULL                   |312.318             |1                        |NULL                      |NULL                   |312.332             |1                        |NULL                      |NULL                   |NULL                |NULL                     |NULL                      |NULL                   |NULL                |NULL                     |NULL                      |NULL                   |NULL                |NULL                     |NULL                      |NULL                   |NULL                |NULL                     |NULL                      |NULL                   |NULL                 |NULL                      |NULL                       |NULL                    |32.739564|
+-------------------+-------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+--------------------+-------------------------+--------------------------+-----------------------+---------------------+--------------------------+---------------------------+------------------------+---------+

## Query 2

In [9]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col, floor, concat, lit, current_timestamp, to_timestamp
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, TimestampType, DoubleType, StringType
from datetime import timedelta, datetime

# Define grid constants for the 250m x 250m grid
grid_origin_lat = 41.474937
grid_origin_lon = -74.913585
delta_lat = 0.00225  # 250m in latitude
delta_lon = 0.0030   # 250m in longitude

def process_batch_query2(batch_df, batch_id):
    # Skip empty batches
    if batch_df.rdd.isEmpty():
        return

    # Compute the maximum dropoff time in the current batch.
    max_dropoff = batch_df.select(F.max("dropoff_datetime")).first()[0]
    if max_dropoff is None:
        return

    # Reference times:
    # For profit: trips with dropoff in the last 15 minutes.
    # For empty taxi count: dropoffs in the last 30 minutes.
    ref_time_profit = max_dropoff - timedelta(minutes=15)
    ref_time_empty  = max_dropoff - timedelta(minutes=30)

    # Add cell identifiers for pickup and dropoff
    df_with_cells = batch_df.withColumn(
        "pickup_cell",
        concat(
            (floor((col("pickup_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + lit(1)).cast("int"),
            lit("."),
            (floor((lit(grid_origin_lat) - col("pickup_latitude")) / lit(delta_lat)) + lit(1)).cast("int")
        )
    ).withColumn(
        "dropoff_cell",
        concat(
            (floor((col("dropoff_longitude") - lit(grid_origin_lon)) / lit(delta_lon)) + lit(1)).cast("int"),
            lit("."),
            (floor((lit(grid_origin_lat) - col("dropoff_latitude")) / lit(delta_lat)) + lit(1)).cast("int")
        )
    )

    # Profit Computation
    df_profit = df_with_cells.filter(col("dropoff_datetime") >= F.lit(ref_time_profit)) \
                             .withColumn("profit", col("fare_amount") + col("tip_amount"))
    df_profit_grouped = df_profit.groupBy("pickup_cell") \
                                 .agg(F.expr("percentile_approx(profit, 0.5)").alias("median_profit")) \
                                 .withColumnRenamed("pickup_cell", "cell_id")

    # Empty Taxi Count Computation
    windowSpec = Window.partitionBy("medallion").orderBy("pickup_datetime")
    df_with_next = df_with_cells.withColumn("next_pickup", F.lead("pickup_datetime").over(windowSpec))
    df_empty = df_with_next.filter(
        (col("dropoff_datetime") >= F.lit(ref_time_empty)) &
        ((col("next_pickup").isNull()) | (col("next_pickup") > col("dropoff_datetime")))
    )
    df_empty_grouped = df_empty.groupBy("dropoff_cell") \
                               .agg(F.countDistinct("medallion").alias("empty_taxi_count")) \
                               .withColumnRenamed("dropoff_cell", "cell_id")

    # Profitability Computation
    df_area = df_profit_grouped.join(df_empty_grouped, on="cell_id", how="outer") \
                               .withColumn(
                                   "profitability_of_cell",
                                   F.when(col("empty_taxi_count") > 0, col("median_profit") / col("empty_taxi_count")).otherwise(None)
                               )
    top10_areas = df_area.orderBy(col("profitability_of_cell").desc()).limit(10)
    top10_list = top10_areas.collect()

    # Print top 10 areas
    print("10 most profitable areas:")
    for i, area in enumerate(top10_list, start=1):
        print(f"Area {i}:")
        print(f"  Cell ID: {area['cell_id']}")
        print(f"  Empty Taxis: {area['empty_taxi_count']}")
        print(f"  Median Profit: {area['median_profit']}")
        print(f"  Profitability: {area['profitability_of_cell']}")
    
    # Create Output Row for the streaming update.
    trigger_row = df_profit.orderBy(col("dropoff_datetime").desc()).limit(1).collect()[0]
    trigger_pickup = trigger_row["pickup_datetime"]
    trigger_dropoff = trigger_row["dropoff_datetime"]
    ingest_time = trigger_row["ingest_time"]
    processing_time = datetime.now()
    delay = (processing_time - ingest_time).total_seconds()

    output_row = {
        "pickup_datetime": trigger_pickup,
        "dropoff_datetime": trigger_dropoff,
        "delay": delay
    }
    for i in range(10):
        if i < len(top10_list):
            area = top10_list[i]
            output_row[f"profitable_cell_id_{i+1}"] = area["cell_id"]
            output_row[f"empty_taxies_in_cell_id_{i+1}"] = area["empty_taxi_count"]
            output_row[f"median_profit_in_cell_id_{i+1}"] = area["median_profit"]
            output_row[f"profitability_of_cell_{i+1}"] = area["profitability_of_cell"]
        else:
            output_row[f"profitable_cell_id_{i+1}"] = None
            output_row[f"empty_taxies_in_cell_id_{i+1}"] = None
            output_row[f"median_profit_in_cell_id_{i+1}"] = None
            output_row[f"profitability_of_cell_{i+1}"] = None

    print(f"Update for batch {batch_id}:", output_row)

    # Define the output schema and create the result df
    schema_fields = [
        StructField("pickup_datetime", TimestampType(), True),
        StructField("dropoff_datetime", TimestampType(), True)
    ]
    for i in range(10):
        schema_fields.extend([
            StructField(f"profitable_cell_id_{i+1}", StringType(), True),
            StructField(f"empty_taxies_in_cell_id_{i+1}", StringType(), True),
            StructField(f"median_profit_in_cell_id_{i+1}", StringType(), True),
            StructField(f"profitability_of_cell_{i+1}", StringType(), True)
        ])
    schema_fields.append(StructField("delay", DoubleType(), True))
    output_schema = StructType(schema_fields)

    result_df = spark.createDataFrame([output_row], schema=output_schema)
    result_df.show(truncate=False)

In [10]:
from pyspark.sql.functions import col, to_timestamp, current_timestamp

new_spark = spark.newSession()
taxi_streaming_query2_df = new_spark.readStream.format("delta").load("/tmp/delta/taxi_data")
taxi_streaming_query2_df = taxi_streaming_query2_df.withColumn("ingest_time", current_timestamp()) \
    .withColumn("pickup_datetime", to_timestamp(col("pickup_datetime"), "yyyy-MM-dd HH:mm:ss")) \
    .withColumn("dropoff_datetime", to_timestamp(col("dropoff_datetime"), "yyyy-MM-dd HH:mm:ss"))

query2 = taxi_streaming_query2_df.writeStream \
    .trigger(once=True) \
    .foreachBatch(process_batch_query2) \
    .outputMode("append") \
    .start()

query2.awaitTermination()